.navbar {
  display: flex;
  margin: 4px 0;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  height: 32px;
  align-items: center;
  font-size: 14px;
  font-weight: $font-weight-bold;
  color: $color-brown;

  img {
    padding: 0 6px;
  }
}

.tabs {
  display: flex;
  justify-content: flex-end;
}

.tab {
  padding: 0 2px;
}

.tab__button {
  display: flex;
  width: 30px;
  height: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: $color-black;
  text-decoration: none;
  border: solid 1px lighten($color-gray, 32%);

  &--current,
  &:hover {
    background-color: lighten($color-gray, 42%);
  }
}
