.player {
  display: flex;
  height: 72px;
  padding: 2px;
  margin: 2px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  background: lighten($color-gray, 42%);
  border: solid 1px lighten($color-gray, 32%);
}

.player__button {
  flex: 0 1 100%; // auto
  position: relative;
  width: 72px;
  background: $color-white;
}

.player__logo {
  position: absolute;
  width: 72px;
  height: 72px;
}

.player__toggle {
  position: absolute;
  width: 42px;
  height: 42px;
  padding: 14px;
  border: solid 1px $color-black;
  opacity: 0;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.player__title,
.player__description,
.player__volume {
  display: flex;
  width: 226px;
  font-size: 16px;
  flex-wrap: wrap;
  align-items: flex-end;
  flex: 0 1 24px;
}

.player__description {
  font-size: 14px;
  flex: 0 1 20px;
}

.player__title {
  font-weight: $font-weight-bold;
}

.player__volume {
  align-items: center;
  flex: 0 1 28px;
}
