.stations {
  height: 338px;
}

.station {
  display: flex;
  height: 60px;
  padding: 2px;
  margin: 2px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: flex-start;
  border: solid 1px lighten($color-gray, 32%);
}

.station__button {
  flex: 0 1 100%;
  position: relative;
  width: 60px;
}

.station__logo {
  position: absolute;
  width: 60px;
  height: 60px;
}

.station__play {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 9px;
  border: solid 1px $color-black;
  opacity: 0;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.station__title,
.station__description {
  display: flex;
  width: 242px;
  font-size: 14px;
  flex-wrap: wrap;
  align-items: center;
  flex: 0 1 25px;
}

.station__title {
  margin-top: 5px;
  font-weight: $font-weight-bold;
}

.station__description {
  margin-bottom: 5px;
}
