.volume {
  display: flex;
  align-items: center;
}

.volume__stade {
  display: flex;
  width: 30px;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.volume__control {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

@mixin range-thumb {
  width: 6px;
  height: 18px;
  cursor: pointer;
  background-color: $color-black;
}

.volume__range {
  width: 120px;
  height: 4px;
  -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  background-color: lighten($color-gray, 32%);

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    @include range-thumb;
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  }

  &::-moz-range-thumb {
    @include range-thumb;
    border: 0;
    border-radius: 0;
  }

  &::-moz-focus-outer {
    border: 0;
  }
}

.volume__pourcent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 10px;
  font-size: 14px;
  font-weight: $font-weight-bold;
}
